PORT=9000
DB_HOST=localhost
DB_USER=nblue
DB_PASSWORD=123456
DB_DATABASE=library_management

CLOUDINARY_NAME=djb5huphd
CLOUDINARY_API_KEY=266983739573575
CLOUDINARY_API_SECRET=P37jTLbFH3iS5deiHyR7aFf30u4