{{ 'recommend-system-style.css' | asset_url | stylesheet_tag }}

<div class="recommend-system-wrap">
  <h1 class="title">Recommend for you</h1>
  <div class="recommends"></div>
</div>

<script async src="{{ 'get-recommend-system.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Recommend Books",
  "target": "section",
  "settings": []
}
{% endschema %}
